.titolo{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendario{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
