.titolo{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendario{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
